
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>

      <% if @user.errors.any? %>
        <div id="error_explamation">
          <h3 class="alert-heading">
            <%= @user.errors.count %> errors prohibited this obj from being saved:
          </h3>
          <ul class="" role="alert">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image %><br>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction %>
          <%= f.text_area :iintroduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit 'Update User', class: "btn btn-secondary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>