<div class="container px-5 px-sm-0">
    <div class="row">

        <%= render 'user', user: @user %>

        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@books.user.id), class: '' do %>
                    <%= image_tag @books.user.get_profile_image(100, 100) %><br>
                    <%= @books.user.name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(@books.id), class: '' do %>
                  <%= @books.title %>
                  <% end %>
                </td>
                <td><%= @books.body %></td>
                <% if @books.user == current_user %>
                  <td>
                    <%= link_to "Edit", edit_book_path(@books), class: 'btn btn-success btn-sm' %>
                  </td>
                  <td>
                    <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" , class: 'btn btn-danger btn-sm' %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>